* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lavenderblush;
    color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    border-bottom: 1px solid crimson;
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

#message {
    height: 30px;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: azure
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 62px);
    grid-template-rows: repeat(6, 62px);
    gap: 5px;
    margin-bottom: 20px;
}

.tile {
    width: 62px;
    height: 62px;
    border: 2px solid darkkhaki;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: beige;
}

.tile.correct {
    background-color: #538d4e;
    border-color: #538d4e;
}

.tile.present {
    background-color: #b59f3b;
    border-color: #b59f3b;
}

.tile.absent {
    background-color: #3a3a3c;
    border-color: #3a3a3c;
}

#keyboard {
display: flex;
flex-direction: column;
align-items: center;
gap: 8px;
}

.keyboard_row {
display: flex;
gap: 6px;
}

.key {
    height: 58px;
    min-width: 43px;
    padding: 0 8px;
    border-radius: 4px;
    background-color: #818384;
    color: antiquewhite;
    font-size: 0.85rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.key.wide {
    min-width: 65px;
}

.key.correct {
    background-color: #538d4e;
}

.key.present {
    background-color: #b59f3b;
}

.key.absent {
    background-color: #3a3a3c;
}

